body {
  background: #09001d;
  color: white;
  font-family: sans-serif;
}

.pagination-container {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.person-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.image-person {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.info-person{
  margin: 20px 0;
}